apiVersion: apps/v1
kind: Deployment
metadata:
  name: hw-deployment
  namespace: hw
  labels:
    app: hw2
spec:
  replicas: 1
  selector:
    matchLabels:
      app: hw2
  template:
    metadata:
      labels:
        app: hw2
    spec:
      containers:
      - name: hw2-0-0
        image: vasilychurkin/otus_arch_hw:v2.0.2
        ports:
        - containerPort: 8080
          name: web
        env:
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              name: hw2-config
              key: POSTGRES_USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              name: hw2-config
              key: POSTGRES_PASSWORD
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              name: hw2-config
              key: POSTGRES_DB
        - name: POSTGRES_HOST
          valueFrom:
            configMapKeyRef:
              name: hw2-config
              key: POSTGRES_HOST
        - name: POSTGRES_PORT
          valueFrom:
            configMapKeyRef:
              name: hw2-config
              key: POSTGRES_PORT